.Navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5265c4;
}

.Navbar > .nav-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 150px;
  font-weight: 500;
  font-size: 15px;
  margin: 15px;
  color: #ffffff;
}

.Navbar > .nav-items > a {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  margin: 15px;
  position: relative;
  opacity: 0.9;
}

.Navbar > .nav-items > a:hover {
  opacity: 1;
}

.Navbar > .nav-items > a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: all 0.45s;
}

.Navbar > .nav-items > a:hover::before {
  width: 100%;
}

.Navbar > .nav-toggle {
  display: none;
}

